body {
    margin:0;
    background:black;
    color:white;
    font-family:serif;
}

#game {
    padding:20px;
}

h1 {
    text-align:center;
    color:#aa0000;
}

#scene {
    min-height:300px;
    border:2px solid #550000;
    padding:20px;
    background:#111;
    font-size:18px;
}

button {
    background:#220000;
    color:white;
    border:1px solid red;
    padding:15px;
    margin:10px;
}
