body {

    margin:0;
    background:#050505;
    color:white;

    font-family:"Cinzel", serif;

}



#menu {

    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

}



    h1 {

    font-size:55px;

    letter-spacing:10px;

    color:#8b0000;

    text-align:center;

    width:100%;

    text-shadow:
    0 0 10px red,
    0 0 20px darkred;

}




button {

    font-family:"Cinzel", serif;

    background:#120000;

    color:white;

    border:1px solid #800000;

    padding:15px 45px;

    margin:10px;

    font-size:18px;

    cursor:pointer;

}



button:hover {

    background:#400000;

}
