body {

    margin:0;

    height:100vh;

    background:#020202;

    color:#eeeeee;

    font-family:"Cinzel", serif;

    overflow:hidden;

}



#game {

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}



/* MAIN HEART SHADOW BOX */

#storyBox {

    width:70%;

    min-height:250px;

    background:rgba(20,0,0,0.55);

    border:2px solid rgba(120,0,0,0.7);

    box-shadow:

    0 0 20px rgba(150,0,0,0.4),

    inset 0 0 30px rgba(100,0,0,0.4);


    padding:35px;

    text-align:center;

    animation:pulse 4s infinite;

}



/* TEXT */

#scene {

    font-size:22px;

    line-height:1.7;

}



/* BUTTONS */

button {

    margin:15px;

    padding:12px 30px;


    background:#080000;

    color:white;


    border:1px solid #700000;


    font-family:"Cinzel", serif;

    cursor:pointer;


    transition:0.3s;

}



button:hover {

    background:#300000;

    box-shadow:0 0 15px red;

}



/* LOWER MENU */

#menuBar {

    margin-top:30px;


    background:rgba(10,0,0,0.6);


    border:1px solid rgba(120,0,0,0.5);


    padding:10px;


}



/* HEART PULSE */

@keyframes pulse {


    0% {

        box-shadow:

        0 0 15px rgba(150,0,0,0.3);

    }


    50% {

        box-shadow:

        0 0 35px rgba(200,0,0,0.7);

    }


    100% {

        box-shadow:

        0 0 15px rgba(150,0,0,0.3);

    }


}
